.gameBoard{
   width: 100%;
   min-height: 100%;
   /*border: 1px red dotted;*/
   /*line-height: 0;
   /*-webkit-column-count: 5;*/
   /*-webkit-column-gap: 0px;*/
   /*-moz-column-count: 5;*/
   /*-moz-column-gap: 0px;*/
   /*column-count: 5;*/
   /*column-gap: 0px;*/
}

html, #content, .container-fluid{
   height: 100vh;
}

body{
   height: 100vh;
   overflow: hidden;
}

.selectButton{
   width: 100%;
   min-height: 100%;
}

.gameButton{
   width: 100% !important;
   min-height: 100% !important;
}

.grid-item {
   width: 10%;
   height: 13%;
  /*height: 85px;*/
  float: left;
}

.grid-item--width2 { width:  20%; }

.grid-item--height2 {
   height: 26%;
   /*height: 170px;*/
}
.grid-item--height3 {
   height: 39%;
   /*height: 255px;*/
}
